@CHARSET "UTF-8";

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  padding-top: 50px;
  height: 100%;
  margin: 0;
}

.container {
  max-width: none !important;
}

.main-container {
  width: 100%;
  height: 100%;
}

.noti-container {
  background-color: rgb(140, 193, 255);
  position: relative;
  display: inline-block;
  float: right;
  width: 20%;
  height: 100%;
  margin: 0;
  overflow: scroll;
}

.notify {
  background-color: #fff;
  text-align: left;
  display: inline-block;
  padding: 5%;
  margin: 5%;
  width: 90%;
}

.comment {
  padding: 4px;
  background-color: rgb(254, 189, 158);
}

.dish {
  display: table-cell;
}

.dish-container {
  text-align: center;
  width: 100%;
}

.dish-list {
  background-color: rgb(200, 200, 200);
  padding-top: 16px;
  padding-bottom: 24px;
  width: 100%;
  height: 100%;
  display: table;
  padding: 0;
}

.dragging {
  cursor: move;
}

.steak-container {
  float: left;
  width: 80%;
  height: 100%;
}

.cell-container {
  background-color: rgb(254, 210, 50);
  white-space: nowrap;
  overflow: scroll;
}

.cols {
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  padding: 4px;
  border: 1px gray solid;
  margin-right: -4px;
}

.cols-divine-size {
  display: inline-block;
  margin: 0 auto;
  width: 50px !important;
  padding: 4px;
  margin-right: -4px;
  text-align: center !important;
}

.cols-inside {
  display: inline-block;
}

.cols-resize {
  position: relative;
  margin-right: -8px;
  width: 8px;
  height: 16px;
  float: right !important;
}

.cols-resize:HOVER {
  opacity: 0.75;
  background-color: gray;
  position: relative;
  margin-right: -8px;
  width: 8px;
  height: 16px;
  float: right !important;
  cursor: e-resize;
}

.cols-settings {
  background-color: rgb(230, 230, 230);
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  float: right;
}

.cols-settings:HOVER {
  background-color: rgb(50, 50, 50);
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  float: right;
}

.folding-arrow {
  margin: 0 auto;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
}

.folding-arrow:HOVER {
  margin: 0 auto;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  cursor: pointer;
}

.dish-header {
  vertical-align: middle;
  background: white;
  width: 100%;
}

.cols-dish {
  display: inline-block;
}
/*
.main-container {
  text-align: center;
  position: absolute;
  float: left;
  display: inline-block;
  width: 80%;
  height: 100%;
  margin: 0;
}

.noti-containter {
  background-color: rgb(140, 193, 255);
  position: relative;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  float: right;
  overflow: scroll;
}

.notify {
  background-color: #fff;
  text-align: left;
  display: inline-block;
  padding: 5%;
  margin: 5%;
  width: 90%;
}

.comment {
  padding: 4px;
  background-color: rgb(254, 189, 158);
}

.stage-container {
  background-color: rgb(103, 172, 105);
  text-align: center;
  margin: 0;
  padding: 0;
}

.stage {
  text-align: center;
  display: inline-block;
  padding: 16px;
  margin: 0;
}

.box-container {
  background-color: rgb(254, 187, 9);
  margin: 0;
  padding: 0;
  text-align: left;
  height: 100%;
}

.box-table {
  background-color: rgb(254, 187, 9);
  margin: 0;
  padding: 0;
  text-align: left;
  height: 100%;
  overflow: scroll;
}

.cols {
  padding: 8px;
  height: 40px;
  display: inline-block;
  border: 1px rgb(160, 160, 160) solid;
  width: 200px;
  text-align: left;
  margin-right: -5px;
  margin-bottom: -1px;
}

.cols-resize {
  opacity: 0.3;
  background-color: gray;
  position: relative;
  margin-top: -8px;
  margin-right: -12px;
  width: 8px;
  height: 40px;
  z-index: 10;
  float: right !important;
  display: block;
}

.cols-resize:HOVER {
  opacity: 1.0;
  background-color: gray;
  position: relative;
  margin-top: -8px;
  margin-right: -12px;
  width: 8px;
  height: 40px;
  z-index: 10;
  float: right !important;
  display: block;
  cursor: e-resize;
}

.cols-name {
  display: inline-block;
  z-index: 100;
}

.cols-settings {
  background-color: rgb(230, 230, 230);
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 8px;
  float: right;
}

.cols-settings:HOVER {
  background-color: rgb(50, 50, 50);
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 8px;
  float: right;
}

.stage-name {
  background-color: white;
  width: 100%;
  vertical-align: middle;
}

.stage-header {
  white-space: nowrap;
}

.stage-cols {
  display: inline-block;
  margin-right: -5px;
  margin-bottom: -1px;
}

.stage-down {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
} */